# Povezivanje sa PostgreSQL/PostGIS bazom
psycopg2-binary
python-dotenv

# Ucitavanje podataka iz baze u DataFrame
pandas
SQLAlchemy

# Ucitavanje i obrada SHP prostornih podataka
geopandas
rasterio

# Interaktivni prikaz prostornih slojeva
folium
streamlit
streamlit-folium

# Masinsko ucenje za segmentaciju zgrada
torch
segmentation-models-pytorch
Pillow
